<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="main.css"> -->
    <title>News App</title>
</head>

<body>
    <div class="container">
         
        <h1>Welcome</h1>
        <% for (let i = 0; i < response.articles.length; i++) { %>
             <h1><%= response.articles[i].title %></h1> 
             <img src="<%= response.articles[i].urlToImage %>" alt="">
            <h3>Author: <%= response.articles[i].author %></h3>
            
        <% } %>

</body>

</html>